* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navli {
    list-style-type: none;
}


.navbar {
    background-color: #219db9;
}


a {
    text-decoration: none;
    color: #002b46;
    margin: 10px;
}

a:hover {
    color: #d5e7e7;
}

video {
    width: 100%;
    height: auto;
}

#wiki img,
#imdb img {
    width: 45px;
    margin: 20px
}


.maincontainer {
    display: flex;
    flex-direction: column;
}

.maincontainer>* {
    display: flex;
    flex-direction: column;
}

.container1 {
    background-color: #000b00;
}


.container2 {
    background: url('img/wallpaper-merida.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container2 .mainquote {
    display: none;
}

.container2>* {
    flex-direction: column;
    color: aliceblue;
}

.container3 {
    background-color: #012233;
    color: #87a75e;
}

.container3 h2,
p {
    text-align: center;
    flex: 0;
    padding: 10px
}

.menu {
    display: flex;
    justify-content: space-between;
}

.mainquote {
    display: flex;
    flex-direction: row;
}

.container4 {
    background-color: #0d2f3f;
    text-align: center;
}

.container4 h2 {
    margin-top: 20px;
    color: #d5e7e7;
}

.container4 h3 {
    color: #d5e7e7;
    margin-bottom: 20px;
}

.container5 {
    background-color: #012233;
    color: #d5e7e7;
    text-align: center;
}

.container5 h3 {
    margin-top: 20px;
}


/* Mobile Version */
@media only screen and (max-width: 480px) {

    .navbar {
        background-color: #002305;

    }

    a {
        color: #7ca0b7;
    }

    .container1 {
        flex: 0;
    }

    .container2 {
        background: url('img/merida-1.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .container2 .mainquote {
        display: block;
        color: aliceblue;
    }

    .container3 .mainquote {
        display: none;
    }

    .container3 span {
        display: none;
    }


    .container5 {
        flex: 0;
    }

}


/* Desktop Version */
@media only screen and (min-width: 769px) {


    .container1 {
        font-size: 1.5em;
    }


    .container2 {
        background: url('img/wallpaper-merida.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
    }


    .container3 img {
        margin: 30px;
        align-self: center;
        width: 300px;
        border-radius: 50%;
        height: auto;
    }

    .container3 .mainquote {
        margin-top: 30px;
    }

}