body {
    font-family: Helvetica;
}

.para,
div .text {
    color: red;
}

.text {
    color: green;
}

.button {
    font-size: 15px;
    border: 1.5px outset;
}

.confirm {
    font-weight: bold;
}

.child,
.small-para {
    font-size: smaller;
    font-weight: normal;
}

#confirm-button {
    background-color: green;
    color: white;
}